.single-post {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  position: fixed;
  top: 7%;
  left: 15%;
  width: 70%;
  height: 90%;
  background-color: #FFF;
  z-index: 1;
}

.post-photo {
  background-color: #000;
  display: flex;
  justify-content: center;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 5em;
  width: 25.3em;
  padding: 0 1em;
  border-bottom: 1px solid #EFEFEF;
}

.single-post .nav-photo {
  font-size: 1.2em;
}

.single-post .bio-name {
  flex: 0.8;
}

.about-caption {
  position: relative;
  top: 5em;
  overflow-y: auto;
  max-height: 25em;
  height: 100%;
  padding: 1em;
}

.caption-info {
  display: flex;
  gap: 0 2em;
  height: 4em;
}

#caption {
  margin-left: 0.5em;
}

.post-reaction-options {
  position: absolute;
  bottom: 0;
  width: 25.3em;
  background-color: #FFF;
  border-top: 1px solid #EFEFEF;
  height: 10.1em;
  padding: 0 1em;
}

.post-reaction-options > div:first-child {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 1fr 0.1fr;
  width: 100%;
  align-items: center;
  font-size: 1.8em;
  height: 2em;
}

.post-reaction-options .material-icons {
  font-size: 1.1em;
}

#commentBox {
  height: 6.3em;
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 0 1em;
}

#commentBox i {
  font-size: 1.8em;
}

#commentBox textarea {
  resize: none;
  border: none;
  outline: none;
  width: 100%;
}

#commentBox button {
  color: #1EA1F7;
  font-weight: 550;
}

.button {
  width: 5em;
  height: 5em;
}

.button i {
  font-size: 2.5em;
  color: #fff;
}

.remove {
  float: right;
}

.previous {
  position: relative;
  top: 45%;
  left: 10%;
}

.next {
  position: relative;
  float: right;
  top: 45%;
  right: 5%;
}
