.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4em;
  background-color: #ffffff;
  border: 1px solid #DBDBDB;
  z-index: 1;
}

#logo {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

.top-nav > div {
  display: inline;
}

.search-input {
  width: 15em;
  background-color: #FAFAFA;
  border: 1px solid #DBDBDB;
  padding: 0.2em 1.5em;
  border-radius: 0.2em;
}

.search-input::placeholder {
  text-align: center;
}

button {
  border: unset;
  background-color: transparent;
}

.top-nav-buttons > button {
  width: 3em;
  height: 3em;
}

.top-nav-buttons i {
  font-size: 1.5em;
  vertical-align: middle;
}

.nav-photo {
  width: 2em;
  height: 2em;
  object-fit: cover;
  background-color: #000;
  border-radius: 1.5em;
  cursor: pointer;
}

.dropdown {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.4em;
  height: 2.4em;
  border: 0.2em solid #DC3173;
  border-radius: 1.5em;
}

.dropdown-content {
  position: absolute;
  top: 2.5em;
  background-color: #fff;
  width: 15em;
  border-radius: 0.5em;
  box-shadow: 0 0.1em 0.2em 0 #00000033;
}

.dropdown-content > button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3em;
}

.dropdown-content i {
  vertical-align: middle;
  width: 2em;
}

.dropdown-content > button:nth-child(4) {
  border-bottom: 1px solid #DBDBDB;
}

.dropdown-content > button:hover {
  background-color: #FAFAFA;
}

@media screen and (max-width: 768px) {
  #smallScreenTopNav {
    justify-content: space-between;
    height: 3.5em;
    padding: 0 1em;
  }

  #smallScreenTopNav i {
    font-size: 2em;
  }

  #smallScreenTopNav .bio-name {
    font-size: 1.2em;
  }

  .bottom-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3.5em;
    background-color: #ffffff;
    border: 1px solid #DBDBDB;
    z-index: 1;
  }

  .bottom-nav button {
    font-size: 1.2em;
    width: 5em;
    height: 2.8em;
  }

  .bottom-nav i {
    font-size: 2em;
    vertical-align: middle;
  }

  .bottom-nav .fa-heart-o {
    font-size: 1.5em;
  }
}
