.gallery {
  border-top: 1px solid #DBDBDB;
  width: 60%;
  height: auto;
  margin: 0 auto 2em;
}

.gallery-nav {
  text-align: center;
}

.gallery-nav > button {
  width: 8em;
  height: 4em;
  font-weight: 500;
  color: #989898;
}

.gallery-nav .current {
  color: #000;
}

.add-photo {
  position: fixed;
  bottom: 2em;
  right: 2em;
  font-size: 4em;
  cursor: pointer;
}

#addPhoto {
  display: none;
}

.photo-container {
  background: #000000;
  height: 18em;
  width: 20em;
}

.photo-container > img {
  object-fit: cover;
  height: 18em;
  width: 20em;
}

.photo-container > img:hover {
  opacity: 0.7;
}

.gallery-output {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.7em;
}
