.gallery {
  border-top: 1px solid #DBDBDB;
  width: 60%;
  height: auto;
  margin: 0 auto 2em;
}

.gallery-nav {
  text-align: center;
}

.gallery-nav > button {
  width: 8em;
  height: 4em;
  font-weight: 500;
  color: #989898;
}

.gallery-nav .current {
  color: #000;
}

.add-photo {
  position: fixed;
  bottom: 2em;
  right: 2em;
  font-size: 4em;
  cursor: pointer;
}

#addPhoto {
  display: none;
}

.photo-container {
  background: #000000;
  height: 18em;
  width: 20em;
}

.photo-container > img {
  object-fit: cover;
  height: 18em;
  width: 20em;
}

.photo-container > img:hover {
  opacity: 0.7;
}

.gallery-output {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.7em;
}




.about-photo {
  position: relative;
  bottom: 18em;
  display: none;
}

.button {
  border: unset;
  font-weight: 600;
  background-color: #0095F6;
  color: #fff;
}

.edit-text {
  padding: 0.4em 1.2em;
  margin-left: 1em;
  border-radius: 0.5em;
}

#editPostInput {
  margin: 1em 0 2.5em 0.8em;
  width: 95%;
  height: auto;
  resize: none;
  border: none;
  outline: none;
  overflow: hidden;
  font-size: 1.5em;
}

.delete-photoBtn {
  margin-left: 14em;
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  color: #fff;
  transform: scale(1.3);
}

#aboutPhoto {
  margin: 1.5em 0 0 1em;
  font-weight: 600;
  color: #fff;
}

.edit-text-modal {
  display: none;
  position: fixed;
  top: 15em;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  width: 30em;
  border-radius: 0.5em;
  padding: 1.5em 0;
  background-color: #fff;
}

.edit-text-modal>strong {
  font-size: 1.3em;
  margin-left: 5em;
}

#editEntry {
  border-top: 1px solid #DBDBDB;
  margin: 1em 0 0 0;
}

.confirm-edit {
  padding: 0.4em 1.2em;
  margin-left: 1em;
  border-radius: 0.5em;
}

.cancel-edit {
  padding: 0.4em 1.2em;
  margin-left: 17em;
  border-radius: 0.5em;
}

.loader {
  text-align: center;
}



#createPostOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7d7d7d77;
}

.create-post-modal {
  display: none;
  position: fixed;
  left: 30em;
  top: 7em;
  margin: auto;
  width: 34em;
  height: auto;
  z-index: 1;
  background-color: #fff;
  border-radius: 0.5em;
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {top: -300px; opacity: 0}
  to {top: 7em; opacity: 1}
}

#createPost {
  text-align: center;
  padding: 0.5em 0;
  font-size: 1.5em;
}

#closePostButton {
  position: relative;
  left: 6.5em;
  border: unset;
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  background-color: #FAFAFA;
  font-weight: 550;
}

#previewEntry {
  margin: 0 auto;
  height: 15em;
  width: 32em;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 1px solid #DBDBDB;
}

#userPostInput {
  margin: 1em 0 2.5em 0.8em;
  width: 95%;
  height: auto;
  resize: none;
  border: none;
  outline: none;
  overflow: hidden;
  font-size: 1.5em;
}

#userPostButton {
  width: 90%;
  height: 3em;
  border-radius: 0.5em;
  margin: 0 2em 1.3em 2em;
}

#userPhoto {
  height: 25em;
  margin-left: 1em;
  width: 95%;
  object-fit: cover;
  border-radius: 0.5em;
}

.post-options {
  padding: 0.5em 0;
  border: 1px solid #DBDBDB;
  border-radius: 0.5em;
  margin: 1em 2em 1em 2em;
}

.post-options>span {
  font-weight: 600;
  margin-left: 1.5em;
  line-height: 3em;
}

.post-options>a {
  text-decoration: none;
  color: #000;
  vertical-align: middle;
}

#userTagIcon {
  margin-left: 0.5em;
  font-size: 1.5em;
}

#smilyFaceIcon {
  margin-left: 0.2em;
  font-size: 2em;
}

#photoIcon {
  margin-left: 4em;
  font-size: 2em;
  vertical-align: middle;
  cursor: pointer;
}

#previewEntry::-webkit-scrollbar {
  width: 10px;
}

#previewEntry::-webkit-scrollbar-track {
  background: #fff;
}

#previewEntry::-webkit-scrollbar-thumb {
  background: #BCC0C4;
  border-radius: 0.5em;
}

.add-photo:active,
#closePostButton:active,
#photoIcon:active,
.button:active {
  transform: translateY(4px);
}



.gallery-info {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 1.8em;
  text-align: center;
}

.delete-modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 15em;
  margin: auto;
  width: 25%;
  padding: 1em 2em;
  height: 15em;
  border-radius: 0.8em;
  text-align: center;
  background-color: #fff;
  z-index: 1;
}

.delete-modal button {
  margin: 1em 0.5em;
  width: 8em;
  height: 2.5em;
  border: unset;
  border-radius: 1.5em;
  font-weight: 700;
}

.confirm-button {
  color: #fff;
  background-color: #e0245e;
}

@media screen and (max-width: 425px) {
  body {
    font-size: 5em;
    width: 100em;
    overflow-x: hidden;
  }

  .content {
    margin: 0em;
    width: 35em;
  }

  .gallery-nav {
    margin-top: 2.5em;
    border-bottom: 5px solid #DBDBDB;
  }

  .gallery {
    grid-template-columns: 1fr;
    grid-gap: 1.5em 0;
    margin-top: 3em;
  }

  .photo-container {
    width: 100%;
    height: 30em;
  }

  .item>img {
    width: 100%;
    height: 30em;
  }

  .about-photo {
    bottom: 22em;
    font-size: 1.3em;
  }

  .delete-photoBtn {
    margin-left: 16em;
  }

  #editPhotoButton {
    font-size: 1em;
    left: 1.5em;
    bottom: 7.5em;
  }

  .create-post-modal {
    top: 10em;
    left: 0em;
    animation-name: Slide-In;
    animation-duration: 1s;
  }

  @keyframes Slide-In {
    from {top: -300px; opacity: 0}
    to {top: 10em; opacity: 1}
  }

  .add-photo {
    top: 5em;
    right: 0.5em;
    font-size: 5em;
  }

  .gallery-info {
    position: relative;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  body {
    font-size: 4em;
  }

  .content {
    width: 38em;
  }

  .create-post-modal {
    font-size: 1.1em;
  }

  .edit-text-modal {
    font-size: 1.2em;
  }

  .delete-photoBtn {
    margin-left: 18em;
  }

}

@media screen and (max-width: 320px) {
  body {
    font-size: 3.5em;
  }
}
