.smileys {
  position: absolute;
  top: 5em;
  width: 25em;
  height: 20em;
  background-color: #444141;
  border-radius: 1.5em;
  padding: 0.5em 0;

  .smiley-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    overflow-y: auto;
    height: 16em;

    .smiley {
      font-size: 1.7em;
      margin: 0 auto;
      cursor: pointer;
    }
  }

  form {
    display: flex;
    align-items: center;

    span {
      position: relative;
      left: 1.5em;
    }

    .search-input {
      width: 90%;
      padding: 0.5em 3em;
      border: unset;
      border-radius: 1.5em;
    }
  }

  .smiley-container::-webkit-scrollbar {
    width: 10px;
  }

  .smiley-container::-webkit-scrollbar-track {
    background: #444141;
  }

  .smiley-container::-webkit-scrollbar-thumb {
    background: #BCC0C4;
    border-radius: 0.5em;
  }
}
