.app-layer {
  margin: 0;
  box-sizing: border-box;
  background-color: #FAFAFA;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-family: 'Segoe UI', 'Times New Roman', Times, serif;
}

button {
  border: unset;
  background-color: transparent;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #575757ab;

  .previous-button {
    position: relative;
    top: 45%;
    left: 12%;
    color: #fff;
    min-width: 3em;
    height: 3em;
  }

  .next-button {
    position: relative;
    float: right;
    top: 45%;
    right: 6.5%;
    color: #fff;
    min-width: 3em;
    height: 3em;
  }

  .close-overlay-button {
    float: right;
    margin: 1em;
    color: #fff;
    min-width: 3em;
    height: 3em;
  }

  i {
    font-size: 2.5em;
    vertical-align: middle;
  }
}

.photo-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  z-index: 1;
  text-align: center;
  width: 30%;
  height: 35%;
  border-radius: 0.8em;
  font-size: 1.1em;
  transform: translate(-50%,-50%);

  label {
    height: 2.5em;
    color: #0095F6;
    cursor: pointer;
    border-bottom: 1px solid #DBDBDB;
  }

  p {
    font-size: 1.2em;
    font-weight: 600;
    padding: 1.2em 0;
    border-bottom: 1px solid #DBDBDB;
  }

  .cancel-button {
    height: 2.5em;
  }
}

.remove-photo-button {
  height: 2.5em;
  color: #ff0000;
  font-weight: 600;
  border-bottom: 1px solid #DBDBDB;
}

#profilePhotoPicker {
  display: none;
}

.confirm-profile-photo {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 57%;
  text-align: center;
  border-radius: 0.8em;
  padding-bottom: 1.2em;
  transform: translate(-50%,-50%);
  background-color: #fff;
  z-index: 1;

  img {
    margin: auto;
    background-color: #000;
    font-size: 1.1em;
    width: 70%;
    height: 70%;
    object-fit: cover;
  }

  div {
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
  }

  button {
    background-color: #1694e7;
    width: 5em;
    height: 2em;
    font-weight: 600;
    font-size: 1.1em;
    color: #fff;
  }

  button:last-child {
    background-color: #ff0000b7;
  }
}

.loader {
  text-align: center;
  margin: 15em 0;
}

@media screen and (max-width: 768px) {
  .photo-modal {
    width: 50%;
    height: 40%;
  }

  .confirm-profile-photo {
    width: 50%;
    height: 65%;
  }
}

@media screen and (max-width: 425px) {
  .photo-modal {
    width: 90%;
  }

  .confirm-profile-photo {
    width: 90%;
  }
}
