@import "./components/topNav/topNav.css";
@import "./components/bio/bio.css";
@import "./components/gallery/gallery.css";
@import "./components/settings/settings.css";

#root {
  margin: 0;
  box-sizing: border-box;
  background-color: #FAFAFA;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-family: 'Segoe UI', 'Times New Roman', Times, serif;
}
