.dark {
  background-color: #000;
  color: #fff;

  #smallScreenTopNav {
    background-color: #000;
    border: unset;
    border-bottom: 1px solid #5d5959;
  }

  .bottom-nav {
    background-color: #000;
    border: unset;
    border-top: 1px solid #5d5959;
  }

  .bio-info button {
    border: 0.1em solid #5d5959;
  }

  #userAccountInfo div {
    border-top: 1px solid #5d5959;
    border-bottom: 1px solid #5d5959;
  }

  .settings {
    background-color: #000;

    input {
      background-color: #000;
      border: 0.1em solid #5d5959;

      &::placeholder {
        color: #DBDBDB;
      }
    }

    .bio-box {
      background-color: #000;
      border: 0.1em solid #5d5959;

      &::placeholder {
        color: #DBDBDB;
      }
    }
  }

  .create-post-modal {
    background-color: #000;

    .header {
      background-color: #000;
      border-bottom: 1px solid #5d5959;
    }

    #postCaption {
      background-color: #000;

      &::placeholder {
        color: #DBDBDB;
      }
    }

    #previewPost {
      background-color: #000;

      &::-webkit-scrollbar-track {
        background: #000;
      }
    }

    .post-options {
      border: 1px solid #5d5959;
    }
  }

  .mobile-single-post {
    .header {
      background-color: #000;
    }
  }

  .post-option-modal {
    background-color: #000;

    button {
      border-bottom: 1px solid #5d5959;

      &:last-child {
        border: none;
      }
    }

    .close-modal-button {
      color: #e67f7f;
    }
  }

  .delete-post-modal {
    background-color: #000;

    .close-modal-button {
      color: #e67f7f;
    }
  }

  .overlay {
    background-color: #2928288e;
  }

  .photo-modal {
    background-color: #000;

    label {
      border-bottom: 1px solid #5d5959;
    }

    p {
      border-bottom: 1px solid #5d5959;
    }

    .remove-photo-button {
      color: #e67f7f;
      border-bottom: 1px solid #5d5959;
    }
  }

  .confirm-profile-photo {
    background-color: #000;
  }

  .mobile-post-comments  {
    .header {
      background-color: #000;
      border-bottom: 1px solid #5d5959;
    }

    .comment-container {
      background-color: #000;
      border-top: 1px solid #5d5959;

      .comment-box {
        background-color: #000;
      }
    }
  }
}
